
<ul class="nav navbar-nav side-nav">
    <li *ngFor="let link of reportNavigation;">
        <a [attr.href]="link.href ? link.href: ''">
            <i [ngClass]="link.iconClass ? link.iconClass : ''"></i>
            {{link.title}}
        </a>
        <ul *ngIf="link.navigationItems" role="menu">
                <li *ngFor="let link of link.navigationItems">
                    <a [attr.href]="link.url">
                        {{link.title}}
                    </a>
                </li>
        </ul>
    </li>
</ul>